t1.flow
[{"id":"cb690d43.602bb","type":"websocket in","z":"88dda491.e7bb68","name":"","server":"b8f336e8.7103f8","client":"","x":360,"y":920,"wires":[["ee7fe5b5.9c1aa8","f9ca5d4a.11106","2537500c.c205","e7eb49f5.1cb7a8","bab29674.c0b1c8","8ba6209a.d3e0a","e474482e.302658"]]},{"id":"ee7fe5b5.9c1aa8","type":"debug","z":"88dda491.e7bb68","name":"","active":false,"console":"false","complete":"payload","x":876,"y":697,"wires":[]},{"id":"3f7083e.efcf97c","type":"http in","z":"88dda491.e7bb68","name":"","url":"/chat","method":"get","upload":false,"swaggerDoc":"","x":420,"y":1060,"wires":[["d314a0d.bf3ea6"]]},{"id":"d314a0d.bf3ea6","type":"template","z":"88dda491.e7bb68","name":"HTML template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!doctype html>\n<html lang=\"en\">\n<head>\n <meta charset=\"utf-8\">\n <title>Terminal</title>\n <script src=\"https://code.jquery.com/jquery-1.11.3.min.js\"></script>\n <script src=\"https:///code.jquery.com/jquery-migrate-1.2.1.min.js\"></script>\n <style>\n body { overflow: hidden; background-color: #000; color: limegreen; font-size: 2.5rem; font-family: 'DejaVu Sans Mono', sans-serif;}\n #messages {width: 100%; margin-bottom: 1.5em;}\n ::-webkit-scrollbar {\n    width: 0px;  /* remove scrollbar space */\n    background: transparent;  /* optional: just make scrollbar invisible */\n}\n body {text-shadow: 0px 0px 15px rgba(50,205,50,.6);}\n .msg { }\n .server {margin-top: .5em; margin-bottom: .5em; font-size:2rem; opacity:.75;}\n #form {}\n #form input { background-color: #000; padding-bottom: .25em; padding-left: 2em; margin-left: -1em; position: fixed; bottom: 0; color: limegreen; font-family: 'DejaVu Sans Mono', sans-serif; font-size: 1em; background: none; border: none; width:100%;}\n .caret {margin-bottom: .25em; position: fixed; bottom: 0; left: .25em; ; width: 1.5em; height:1em; line-height: .9em; text-shadow: 0px 0px 5px limegreen;}\n #form input:focus {outline: none; background: none;}\n </style>\n</head>\n<body>\n {{msg}}\n <div id=\"messages\"></div>\n <form id=\"form\" onsubmit=\"return false;\">\n <div class=\"caret\">></div><input id=\"text\" type=\"text\" onkeypress=\"return sendText(event)\" />\n </form>\n\n <script type=\"text/javascript\">\n \n var urlParams;\n (window.onpopstate = function () {\n    var match,\n        pl     = /\\+/g,  // Regex for replacing addition symbol with a space\n        search = /([^&=]+)=?([^&]*)/g,\n        decode = function (s) { return decodeURIComponent(s.replace(pl, \" \")); },\n        query  = window.location.search.substring(1);\n\n    urlParams = {};\n    while (match = search.exec(query))\n       urlParams[decode(match[1])] = decode(match[2]);\n })();\n \n // Focus the text input on page load\n $(\"input:text:visible:first\").focus();\n \n // Open a websocket using FRED.\n var publishSocket = new WebSocket(\"ws://t1.local:1880/public/messagereceive\");\n var listenSocket = new WebSocket(\"ws://t1.local:1880/public/messagepublish\");\n\n listenSocket.onmessage = function (event) {\n // When receiving a message append a div child to #messages\n    data = JSON.parse(event.data);\n    \n    if (!data.id) {\n        var id = \"??\";\n    } else if (data.id === \"1\" || data.id === \"2\" || data.id === \"3\" || data.id === \"4\" || data.id === \"5\"){\n        var id = \"T\"+data.id;\n    } else {\n        var id = data.id;\n    }\n    \n    if (data.msg !== \"\") {\n        $(\"#messages\").append(\"<div class='msg' >[\"+id+\"] \"+data.msg+\"</div>\")\n        //$('#messages').animate({ \n        //    scrollTop: $(document).height()-$(window).height()}, \n        //    1400, \n        //    \"easeOutQuint\"\n        //);\n        if ($(\"#messages\").children().length > 11 ) { $(\"#messages :first-child\").remove()}\n    }\n }\n\n listenSocket.onclose = function(event){\n    $(\"#messages\").append(\"<div class='msg server'>Disconnected. Retrying connection...</div>\");\n    \n    setTimeout(function() {\n        location.reload();\n    }, 10000);\n }\n\n listenSocket.onopen = function(event){\n    $(\"#messages\").append(\"<div class='msg server'>Connected.</div>\")\n }\n\n function sendText(event) {\n     // Only if return key pressed\n     if (event.keyCode == 13) {\n         // Construct object containing the data the server needs.\n         d = new Date();\n         var data = {\n             time: d.getHours() +\":\"+ d.getMinutes() + \":\" + d.getSeconds(),\n             id: urlParams[\"id\"],\n             msg: $(\"#text\").val(),\n         };\n         \n         if ($(\"#text\").val() === \"/reload\") {\n             location.reload();\n         } else if ($(\"#text\").val() !== \"\") {\n            // Send the msg object as a JSON-formatted string.\n            publishSocket.send(JSON.stringify(data));\n            // Blank the text input element\n            $(\"#text\").val(\"\");\n         }\n    }\n}\n    </script>\n\n</body>\n</html>","output":"str","x":820,"y":1060,"wires":[["5b94f960.86a4a8"]]},{"id":"5b94f960.86a4a8","type":"http response","z":"88dda491.e7bb68","name":"http response","statusCode":"","headers":{},"x":1220,"y":1060,"wires":[]},{"id":"f9ca5d4a.11106","type":"function","z":"88dda491.e7bb68","name":"return JSON payload","func":"return {payload: JSON.parse(msg.payload)};","outputs":1,"noerr":0,"x":860,"y":920,"wires":[["8654c846.078bd8"]]},{"id":"8654c846.078bd8","type":"websocket out","z":"88dda491.e7bb68","name":"","server":"a4927385.de188","client":"","x":1180,"y":920,"wires":[]},{"id":"e474482e.302658","type":"file","z":"88dda491.e7bb68","name":"","filename":"chat.log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":646,"y":978,"wires":[]},{"id":"51db7c49.b99934","type":"rpi-gpio out","z":"88dda491.e7bb68","name":"","pin":"3","set":true,"level":"0","freq":"0","out":"out","x":1744,"y":535,"wires":[]},{"id":"4e65f59e.5852ac","type":"trigger","z":"88dda491.e7bb68","op1":"1","op2":"1","op1type":"num","op2type":"str","duration":"-1","extend":false,"units":"s","reset":"","name":"on (resend every 1s)","x":1384,"y":535,"wires":[["51db7c49.b99934"]]},{"id":"2d015515.560d8a","type":"trigger","z":"88dda491.e7bb68","op1":"0","op2":"0","op1type":"num","op2type":"str","duration":"-1","extend":false,"units":"s","reset":"","name":"off (resend every 1s)","x":1544,"y":575,"wires":[["51db7c49.b99934"]]},{"id":"66b4f6d3.d46ca8","type":"delay","z":"88dda491.e7bb68","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1354,"y":575,"wires":[["2d015515.560d8a"]]},{"id":"ccacac97.3eb58","type":"delay","z":"88dda491.e7bb68","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1144,"y":515,"wires":[["3c50aede.f1c932"]]},{"id":"3c50aede.f1c932","type":"function","z":"88dda491.e7bb68","name":"reset","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":1334,"y":495,"wires":[["4e65f59e.5852ac","2d015515.560d8a"]]},{"id":"3a28eed.b03d012","type":"delay","z":"88dda491.e7bb68","name":"","pauseType":"delay","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":984,"y":575,"wires":[["ccacac97.3eb58","66b4f6d3.d46ca8","4e65f59e.5852ac"]]},{"id":"fa3db967.32aa88","type":"rpi-gpio out","z":"88dda491.e7bb68","name":"","pin":"3","set":true,"level":"0","freq":"0","out":"out","x":1744,"y":395,"wires":[]},{"id":"b8e9f44c.da3b48","type":"trigger","z":"88dda491.e7bb68","op1":"1","op2":"1","op1type":"num","op2type":"str","duration":"-2500","extend":false,"units":"ms","reset":"","name":"on (resend every 2.5s)","x":1384,"y":395,"wires":[["fa3db967.32aa88"]]},{"id":"57ae7cc4.c8ad84","type":"trigger","z":"88dda491.e7bb68","op1":"0","op2":"0","op1type":"num","op2type":"str","duration":"-2500","extend":false,"units":"ms","reset":"","name":"off (resend every 2.5s)","x":1544,"y":435,"wires":[["fa3db967.32aa88"]]},{"id":"f8eb54bd.4f4998","type":"delay","z":"88dda491.e7bb68","name":"","pauseType":"delay","timeout":"1.25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1354,"y":435,"wires":[["57ae7cc4.c8ad84"]]},{"id":"f6660f51.9b08e","type":"delay","z":"88dda491.e7bb68","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1144,"y":375,"wires":[["fa85d3f5.da4e6"]]},{"id":"fa85d3f5.da4e6","type":"function","z":"88dda491.e7bb68","name":"reset","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":1334,"y":355,"wires":[["b8e9f44c.da3b48","57ae7cc4.c8ad84"]]},{"id":"854ea312.ebd96","type":"delay","z":"88dda491.e7bb68","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":984,"y":435,"wires":[["f6660f51.9b08e","f8eb54bd.4f4998","b8e9f44c.da3b48"]]},{"id":"bc950d33.db1e5","type":"rpi-gpio out","z":"88dda491.e7bb68","name":"","pin":"3","set":true,"level":"0","freq":"0","out":"out","x":1744,"y":235,"wires":[]},{"id":"ad242340.d44c1","type":"trigger","z":"88dda491.e7bb68","op1":"1","op2":"1","op1type":"num","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"","name":"on (resend every 5s)","x":1384,"y":235,"wires":[["bc950d33.db1e5"]]},{"id":"3813c2f.166e33e","type":"trigger","z":"88dda491.e7bb68","op1":"0","op2":"0","op1type":"num","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"","name":"off (resend every 5s)","x":1564,"y":275,"wires":[["bc950d33.db1e5"]]},{"id":"13f69088.ae040f","type":"delay","z":"88dda491.e7bb68","name":"","pauseType":"delay","timeout":"2500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1364,"y":275,"wires":[["3813c2f.166e33e"]]},{"id":"980f08ee.df8e28","type":"delay","z":"88dda491.e7bb68","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1144,"y":215,"wires":[["a7af9fb6.e4df"]]},{"id":"a7af9fb6.e4df","type":"function","z":"88dda491.e7bb68","name":"reset","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":1334,"y":195,"wires":[["ad242340.d44c1","3813c2f.166e33e"]]},{"id":"35e0624d.3cf3fe","type":"delay","z":"88dda491.e7bb68","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":984,"y":275,"wires":[["980f08ee.df8e28","13f69088.ae040f","ad242340.d44c1"]]},{"id":"2537500c.c205","type":"http request","z":"88dda491.e7bb68","name":"blink light on t2","method":"GET","ret":"txt","url":"http://t2.local:1880/light","tls":"","x":1220,"y":740,"wires":[[]]},{"id":"e7eb49f5.1cb7a8","type":"http request","z":"88dda491.e7bb68","name":"blink light on t3","method":"GET","ret":"txt","url":"http://t3.local:1880/light","tls":"","x":1220,"y":780,"wires":[[]]},{"id":"815a6e47.db73e","type":"function","z":"88dda491.e7bb68","name":"restart","func":"\nreturn msg;","outputs":1,"noerr":0,"x":741,"y":374,"wires":[["3a28eed.b03d012","854ea312.ebd96","35e0624d.3cf3fe"]]},{"id":"bab29674.c0b1c8","type":"delay","z":"88dda491.e7bb68","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":618,"y":448,"wires":[["815a6e47.db73e"]]},{"id":"8ba6209a.d3e0a","type":"function","z":"88dda491.e7bb68","name":"reset","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":724,"y":555,"wires":[["3a28eed.b03d012","ccacac97.3eb58","854ea312.ebd96","f6660f51.9b08e","35e0624d.3cf3fe","980f08ee.df8e28","66b4f6d3.d46ca8","2d015515.560d8a","4e65f59e.5852ac","f8eb54bd.4f4998","57ae7cc4.c8ad84","b8e9f44c.da3b48","13f69088.ae040f","3813c2f.166e33e","ad242340.d44c1"]]},{"id":"de37ea17.ea1bf8","type":"comment","z":"88dda491.e7bb68","name":"reset and restart all LED controller nodes for each message","info":"","x":753,"y":501,"wires":[]},{"id":"6dffef83.e65ed","type":"comment","z":"88dda491.e7bb68","name":"contains all css, html and client-side javascript","info":"","x":821,"y":1097,"wires":[]},{"id":"b8f336e8.7103f8","type":"websocket-listener","z":"","path":"/public/messagereceive","wholemsg":"false"},{"id":"a4927385.de188","type":"websocket-listener","z":"","path":"/public/messagepublish","wholemsg":"false"}]
