t1.flow
[{"id":"a1475eab.ab9d6","type":"websocket in","z":"7c787b43.2902e4","name":"","server":"b8f336e8.7103f8","client":"","x":140,"y":740,"wires":[["da4c1a7b.a108c8","70747915.5d1258","341a61d.786f89e","35684d4c.3a8d82","40615e85.4dbc3","10d1e4ea.39bd7b","e1521ad4.045f78","253702a.4ee5cfe","d90c8a80.5afdf8","a365c3af.d6ff7","c0de3191.09014"]]},{"id":"da4c1a7b.a108c8","type":"debug","z":"7c787b43.2902e4","name":"","active":false,"console":"false","complete":"payload","x":230,"y":620,"wires":[]},{"id":"f3e76381.e9777","type":"http in","z":"7c787b43.2902e4","name":"","url":"/chat","method":"get","upload":false,"swaggerDoc":"","x":300,"y":880,"wires":[["97665ce7.fc932"]]},{"id":"97665ce7.fc932","type":"template","z":"7c787b43.2902e4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!doctype html>\n<html lang=\"en\">\n<head>\n <meta charset=\"utf-8\">\n <title>Terminal</title>\n <script src=\"https://code.jquery.com/jquery-1.11.3.min.js\"></script>\n <script src=\"https:///code.jquery.com/jquery-migrate-1.2.1.min.js\"></script>\n <style>\n body { overflow: hidden; background-color: #000; color: limegreen; font-size: 2.5rem; font-family: 'DejaVu Sans Mono', sans-serif;}\n #messages {width: 100%; margin-bottom: 1.5em;}\n ::-webkit-scrollbar {\n    width: 0px;  /* remove scrollbar space */\n    background: transparent;  /* optional: just make scrollbar invisible */\n}\n body {text-shadow: 0px 0px 5px limegreen;}\n .msg { }\n .server {margin-top: 1em; margin-bottom: 1em; font-size:2rem; opacity:.7;}\n #form {}\n #form input { background-color: #000; padding-bottom: .25em; padding-left: 2em; margin-left: -1em; position: fixed; bottom: 0; color: limegreen; font-family: 'Courier New', sans-serif; font-size: 1em; background: none; border: none; width:100%;}\n .caret {margin-bottom: .25em; position: fixed; bottom: 0; left: .25em; ; width: 1.5em; height:1em; line-height: .9em; text-shadow: 0px 0px 5px limegreen;}\n #form input:focus {outline: none; background: none;}\n </style>\n</head>\n<body>\n {{msg}}\n <div id=\"messages\"></div>\n <form id=\"form\" onsubmit=\"return false;\">\n <div class=\"caret\">></div><input id=\"text\" type=\"text\" onkeypress=\"return sendText(event)\" />\n </form>\n\n <script type=\"text/javascript\">\n \n var urlParams;\n (window.onpopstate = function () {\n    var match,\n        pl     = /\\+/g,  // Regex for replacing addition symbol with a space\n        search = /([^&=]+)=?([^&]*)/g,\n        decode = function (s) { return decodeURIComponent(s.replace(pl, \" \")); },\n        query  = window.location.search.substring(1);\n\n    urlParams = {};\n    while (match = search.exec(query))\n       urlParams[decode(match[1])] = decode(match[2]);\n })();\n \n // Focus the text input on page load\n $(\"input:text:visible:first\").focus();\n \n // Open a websocket using FRED.\n var publishSocket = new WebSocket(\"ws://t1.local:1880/public/messagereceive\");\n var listenSocket = new WebSocket(\"ws://t1.local:1880/public/messagepublish\");\n\n listenSocket.onmessage = function (event) {\n // When receiving a message append a div child to #messages\n    data = JSON.parse(event.data);\n    $(\"#messages\").append(\"<div class='msg' >[Terminal \"+data.id+\"] \"+data.msg+\"</div>\")\n    $('#messages').animate({ \n        scrollTop: $(document).height()-$(window).height()}, \n        1400, \n        \"easeOutQuint\"\n    );\n    if ($(\"#messages\").children().length > 16 ) { $(\"#messages :first-child\").remove()}\n }\n\n listenSocket.onclose = function(event){\n    $(\"#messages\").append(\"<div class='msg server'>Disconnected. Retrying connection...</div>\");\n    \n    setTimeout(function() {\n        location.reload();\n    }, 20000);\n }\n\n listenSocket.onopen = function(event){\n    $(\"#messages\").append(\"<div class='msg server'>Connected.</div>\")\n }\n\n function sendText(event) {\n     // Only if return key pressed\n     if (event.keyCode == 13) {\n         // Construct object containing the data the server needs.\n         d = new Date();\n         var data = {\n             time: d.getHours() +\":\"+ d.getMinutes() + \":\" + d.getSeconds(),\n             id: urlParams[\"id\"],\n             msg: $(\"#text\").val(),\n         };\n         \n         if ($(\"#text\").val() === \"/reload\") {\n             location.reload();\n         } else {\n            // Send the msg object as a JSON-formatted string.\n            publishSocket.send(JSON.stringify(data));\n            // Blank the text input element\n            $(\"#text\").val(\"\");\n         }\n    }\n}\n    </script>\n\n</body>\n</html>","output":"str","x":590,"y":880,"wires":[["bb724c27.ed8e5"]]},{"id":"bb724c27.ed8e5","type":"http response","z":"7c787b43.2902e4","name":"","statusCode":"","headers":{},"x":770,"y":880,"wires":[]},{"id":"70747915.5d1258","type":"function","z":"7c787b43.2902e4","name":"","func":"return {payload: JSON.parse(msg.payload)};","outputs":1,"noerr":0,"x":590,"y":740,"wires":[["11797310.fe8b4d"]]},{"id":"11797310.fe8b4d","type":"websocket out","z":"7c787b43.2902e4","name":"","server":"a4927385.de188","client":"","x":960,"y":740,"wires":[]},{"id":"10d1e4ea.39bd7b","type":"file","z":"7c787b43.2902e4","name":"","filename":"chat.log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":140,"y":880,"wires":[]},{"id":"585326da.51cec8","type":"rpi-gpio out","z":"7c787b43.2902e4","name":"","pin":"3","set":true,"level":"0","freq":"0","out":"out","x":1360,"y":460,"wires":[]},{"id":"1f0e2ff5.3c6c9","type":"trigger","z":"7c787b43.2902e4","op1":"1","op2":"1","op1type":"num","op2type":"str","duration":"-1","extend":false,"units":"s","reset":"","name":"on (resend every 1s)","x":1000,"y":460,"wires":[["585326da.51cec8"]]},{"id":"197aa6d1.ac1559","type":"trigger","z":"7c787b43.2902e4","op1":"0","op2":"0","op1type":"num","op2type":"str","duration":"-1","extend":false,"units":"s","reset":"","name":"off (resend every 1s)","x":1160,"y":500,"wires":[["585326da.51cec8"]]},{"id":"58636abe.3e32b4","type":"delay","z":"7c787b43.2902e4","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":970,"y":500,"wires":[["197aa6d1.ac1559"]]},{"id":"966f62c2.59fb1","type":"delay","z":"7c787b43.2902e4","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":440,"wires":[["911048a1.ff9988"]]},{"id":"911048a1.ff9988","type":"function","z":"7c787b43.2902e4","name":"reset","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":420,"wires":[["1f0e2ff5.3c6c9","197aa6d1.ac1559","40615e85.4dbc3"]]},{"id":"341a61d.786f89e","type":"delay","z":"7c787b43.2902e4","name":"","pauseType":"delay","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":500,"wires":[["966f62c2.59fb1","58636abe.3e32b4","1f0e2ff5.3c6c9"]]},{"id":"e32496e1.076948","type":"rpi-gpio out","z":"7c787b43.2902e4","name":"","pin":"3","set":true,"level":"0","freq":"0","out":"out","x":1360,"y":320,"wires":[]},{"id":"c354358.12d34c8","type":"trigger","z":"7c787b43.2902e4","op1":"1","op2":"1","op1type":"num","op2type":"str","duration":"-2500","extend":false,"units":"ms","reset":"","name":"on (resend every 2.5s)","x":1000,"y":320,"wires":[["e32496e1.076948"]]},{"id":"32c97320.5ae75c","type":"trigger","z":"7c787b43.2902e4","op1":"0","op2":"0","op1type":"num","op2type":"str","duration":"-2500","extend":false,"units":"ms","reset":"","name":"off (resend every 2.5s)","x":1160,"y":360,"wires":[["e32496e1.076948"]]},{"id":"d48a6767.d0bf78","type":"delay","z":"7c787b43.2902e4","name":"","pauseType":"delay","timeout":"1.25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":970,"y":360,"wires":[["32c97320.5ae75c"]]},{"id":"1897bcf2.5d4ae3","type":"delay","z":"7c787b43.2902e4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":300,"wires":[["ee424f68.3ad84"]]},{"id":"ee424f68.3ad84","type":"function","z":"7c787b43.2902e4","name":"reset","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":280,"wires":[["c354358.12d34c8","32c97320.5ae75c"]]},{"id":"35684d4c.3a8d82","type":"delay","z":"7c787b43.2902e4","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":360,"wires":[["1897bcf2.5d4ae3","d48a6767.d0bf78","c354358.12d34c8"]]},{"id":"d71f77e8.6b9378","type":"rpi-gpio out","z":"7c787b43.2902e4","name":"","pin":"3","set":true,"level":"0","freq":"0","out":"out","x":1360,"y":160,"wires":[]},{"id":"3371c538.77151a","type":"trigger","z":"7c787b43.2902e4","op1":"1","op2":"1","op1type":"num","op2type":"str","duration":"-4","extend":false,"units":"s","reset":"","name":"on (resend every 4s)","x":1000,"y":160,"wires":[["d71f77e8.6b9378"]]},{"id":"4e6d5e29.1d70f","type":"trigger","z":"7c787b43.2902e4","op1":"0","op2":"0","op1type":"num","op2type":"str","duration":"-4","extend":false,"units":"s","reset":"","name":"off (resend every 4s)","x":1180,"y":200,"wires":[["d71f77e8.6b9378"]]},{"id":"afa82fdb.8a4b2","type":"delay","z":"7c787b43.2902e4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":200,"wires":[["4e6d5e29.1d70f"]]},{"id":"79434e51.c98b","type":"delay","z":"7c787b43.2902e4","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":770,"y":140,"wires":[["f8f97f99.41f9f"]]},{"id":"f8f97f99.41f9f","type":"function","z":"7c787b43.2902e4","name":"reset","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":120,"wires":[["3371c538.77151a","4e6d5e29.1d70f"]]},{"id":"40615e85.4dbc3","type":"delay","z":"7c787b43.2902e4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":200,"wires":[["79434e51.c98b","afa82fdb.8a4b2","3371c538.77151a"]]},{"id":"e1521ad4.045f78","type":"function","z":"7c787b43.2902e4","name":"","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.count = count;\n\nif (!context.get('messages')) {\n   context.set('messages', []);\n}\n\nvar messages = context.get('messages');\n\nvar d = new Date();\nvar time = d.getTime();\n\nvar message = [];\n\nmessage[\"time\"] = msg.payload.time;\nmessage[\"payload\"] = msg.payload;\n\nmessages.push(message);\n\ncontext.set('messages', messages)\n\nreturn msg.topic;","outputs":1,"noerr":0,"x":473,"y":809,"wires":[["ef513a59.a57c48","ed37f5b5.4e2038","97665ce7.fc932"]]},{"id":"ef513a59.a57c48","type":"debug","z":"7c787b43.2902e4","name":"","active":false,"console":"false","complete":"true","x":650,"y":780,"wires":[]},{"id":"ed37f5b5.4e2038","type":"file","z":"7c787b43.2902e4","name":"","filename":"history.log","appendNewline":false,"createDir":false,"overwriteFile":"true","x":670,"y":820,"wires":[]},{"id":"253702a.4ee5cfe","type":"http request","z":"7c787b43.2902e4","name":"","method":"GET","ret":"txt","url":"http://t2.local:1880/light","tls":"","x":970,"y":600,"wires":[[]]},{"id":"d90c8a80.5afdf8","type":"http request","z":"7c787b43.2902e4","name":"","method":"GET","ret":"txt","url":"http://t3.local:1880/light","tls":"","x":970,"y":660,"wires":[[]]},{"id":"6ab16f32.9f8e3","type":"function","z":"7c787b43.2902e4","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":340,"wires":[["40615e85.4dbc3","35684d4c.3a8d82","341a61d.786f89e","966f62c2.59fb1","1897bcf2.5d4ae3","79434e51.c98b"]]},{"id":"a365c3af.d6ff7","type":"function","z":"7c787b43.2902e4","name":"reset","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":460,"wires":[["35684d4c.3a8d82","40615e85.4dbc3","341a61d.786f89e","966f62c2.59fb1","1897bcf2.5d4ae3","79434e51.c98b"]]},{"id":"c0de3191.09014","type":"delay","z":"7c787b43.2902e4","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":294,"y":403,"wires":[["6ab16f32.9f8e3"]]},{"id":"b8f336e8.7103f8","type":"websocket-listener","z":"","path":"/public/messagereceive","wholemsg":"false"},{"id":"a4927385.de188","type":"websocket-listener","z":"","path":"/public/messagepublish","wholemsg":"false"}]
