tx.flow
[{"id":"3486bfdc.95388","type":"http in","z":"27085ebc.a6ca52","name":"","url":"/light","method":"get","upload":false,"swaggerDoc":"","x":500,"y":540,"wires":[["adbca559.cdb8b8","b009dae9.c685d8","e5a8654d.31a3a8"]]},{"id":"adbca559.cdb8b8","type":"http response","z":"27085ebc.a6ca52","name":"","statusCode":"200","headers":{},"x":800,"y":540,"wires":[]},{"id":"79f201f8.854e7","type":"rpi-gpio out","z":"27085ebc.a6ca52","name":"","pin":"3","set":true,"level":"0","freq":"0","out":"out","x":1860,"y":400,"wires":[]},{"id":"5e3b41f9.2073","type":"trigger","z":"27085ebc.a6ca52","op1":"1","op2":"1","op1type":"num","op2type":"str","duration":"-1","extend":false,"units":"s","reset":"","name":"on (resend every 1s)","x":1500,"y":400,"wires":[["79f201f8.854e7"]]},{"id":"9d910494.d38a58","type":"trigger","z":"27085ebc.a6ca52","op1":"0","op2":"0","op1type":"num","op2type":"str","duration":"-1","extend":false,"units":"s","reset":"","name":"off (resend every 1s)","x":1660,"y":440,"wires":[["79f201f8.854e7"]]},{"id":"46baf5f5.91791c","type":"delay","z":"27085ebc.a6ca52","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1470,"y":440,"wires":[["9d910494.d38a58"]]},{"id":"c6b362c1.ffcca","type":"delay","z":"27085ebc.a6ca52","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1260,"y":380,"wires":[["dff7c342.13f06"]]},{"id":"dff7c342.13f06","type":"function","z":"27085ebc.a6ca52","name":"reset","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":360,"wires":[["5e3b41f9.2073","9d910494.d38a58"]]},{"id":"8e570b9b.9b3998","type":"delay","z":"27085ebc.a6ca52","name":"","pauseType":"delay","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":440,"wires":[["c6b362c1.ffcca","46baf5f5.91791c","5e3b41f9.2073"]]},{"id":"4257e0ad.cbd5d","type":"rpi-gpio out","z":"27085ebc.a6ca52","name":"","pin":"3","set":true,"level":"0","freq":"0","out":"out","x":1860,"y":260,"wires":[]},{"id":"dd8748b1.706418","type":"trigger","z":"27085ebc.a6ca52","op1":"1","op2":"1","op1type":"num","op2type":"str","duration":"-2500","extend":false,"units":"ms","reset":"","name":"on (resend every 2.5s)","x":1500,"y":260,"wires":[["4257e0ad.cbd5d"]]},{"id":"4ec28f31.7f4ff","type":"trigger","z":"27085ebc.a6ca52","op1":"0","op2":"0","op1type":"num","op2type":"str","duration":"-2500","extend":false,"units":"ms","reset":"","name":"off (resend every 2.5s)","x":1660,"y":300,"wires":[["4257e0ad.cbd5d"]]},{"id":"1a57c177.c2d03f","type":"delay","z":"27085ebc.a6ca52","name":"","pauseType":"delay","timeout":"1.25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1470,"y":300,"wires":[["4ec28f31.7f4ff"]]},{"id":"6dcea043.e9ab1","type":"delay","z":"27085ebc.a6ca52","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1260,"y":240,"wires":[["b248a341.24835"]]},{"id":"b248a341.24835","type":"function","z":"27085ebc.a6ca52","name":"reset","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":220,"wires":[["dd8748b1.706418","4ec28f31.7f4ff"]]},{"id":"ff867783.439558","type":"delay","z":"27085ebc.a6ca52","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":300,"wires":[["6dcea043.e9ab1","1a57c177.c2d03f","dd8748b1.706418"]]},{"id":"c81d130f.8dcf9","type":"rpi-gpio out","z":"27085ebc.a6ca52","name":"","pin":"3","set":true,"level":"0","freq":"0","out":"out","x":1860,"y":100,"wires":[]},{"id":"d4405bc3.180cc8","type":"trigger","z":"27085ebc.a6ca52","op1":"1","op2":"1","op1type":"num","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"","name":"on (resend every 5s)","x":1500,"y":100,"wires":[["c81d130f.8dcf9"]]},{"id":"fef5ebcf.696a58","type":"trigger","z":"27085ebc.a6ca52","op1":"0","op2":"0","op1type":"num","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"","name":"off (resend every 5s)","x":1680,"y":140,"wires":[["c81d130f.8dcf9"]]},{"id":"a0081f2d.52a5c","type":"delay","z":"27085ebc.a6ca52","name":"","pauseType":"delay","timeout":"2500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1480,"y":140,"wires":[["fef5ebcf.696a58"]]},{"id":"cd71baaf.adfe68","type":"delay","z":"27085ebc.a6ca52","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1260,"y":80,"wires":[["4f2e3543.147b6c"]]},{"id":"4f2e3543.147b6c","type":"function","z":"27085ebc.a6ca52","name":"reset","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":60,"wires":[["d4405bc3.180cc8","fef5ebcf.696a58"]]},{"id":"3ad53a8e.fbb056","type":"delay","z":"27085ebc.a6ca52","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":140,"wires":[["cd71baaf.adfe68","a0081f2d.52a5c","d4405bc3.180cc8"]]},{"id":"9ff3b9ab.799168","type":"function","z":"27085ebc.a6ca52","name":"restart","func":"\nreturn msg;","outputs":1,"noerr":0,"x":857,"y":239,"wires":[["8e570b9b.9b3998","ff867783.439558","3ad53a8e.fbb056"]]},{"id":"b009dae9.c685d8","type":"delay","z":"27085ebc.a6ca52","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":734,"y":313,"wires":[["9ff3b9ab.799168"]]},{"id":"e5a8654d.31a3a8","type":"function","z":"27085ebc.a6ca52","name":"reset","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":420,"wires":[["8e570b9b.9b3998","c6b362c1.ffcca","ff867783.439558","6dcea043.e9ab1","3ad53a8e.fbb056","cd71baaf.adfe68","46baf5f5.91791c","9d910494.d38a58","5e3b41f9.2073","1a57c177.c2d03f","4ec28f31.7f4ff","dd8748b1.706418","a0081f2d.52a5c","fef5ebcf.696a58","d4405bc3.180cc8"]]},{"id":"db59ccc1.ff095","type":"comment","z":"27085ebc.a6ca52","name":"reset and restart all LED controller nodes for each message","info":"","x":869,"y":366,"wires":[]}]
